// sass-lint:disable no-ids

.got-soccer-wrap {
  &.got-connected {
    #gotconnected {
      display: block;
    }

    #gotnotconnected {
      display: none;
    }

    .submit-status {
      color: #28a745;
    }
  }

  .submit-button {
    display: inline-block;
    width: 200px;
    padding: 0 10px 0 0;

    input {
      &:active {
        vertical-align: baseline;
      }
    }
  }

  .submit-button,
  .sync-status {
    .spinner {
      float: none;
      vertical-align: middle;
    }
  }

  .submit-status {
    font-weight: bold;
    padding: 0 10px;
    line-height: 28px;
    color: #dc3545;
  }

  #gotconnected {
    display: none;
  }

  .sync-status {
    display: inline-block;
    height: 28px;
    width: 36px;
    text-align: center;

    .spinner {
      margin-left: 0;
      margin-right: 0;
      display: none;
      visibility: visible;
    }

    .dashicons {
      display: none;
      vertical-align: middle;
    }

    .dashicons-yes {
      color: #28a745;
      font-size: 30px;
      width: 30px;
      height: 30px;
    }

    .dashicons-warning {
      color: #dc3545;
      font-size: 24px;
      width: 24px;
      height: 24px;
      margin: 2px 0;
    }
  }

  .sync-time {
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    vertical-align: middle;
  }

  .sync-warning {
    .sync-status {
      .dashicons-warning {
        display: inline-block;
      }
    }
  }

  .sync-success {
    .sync-status {
      .dashicons-yes {
        display: inline-block;
      }
    }
  }

  .syncing {
    .sync-status {
      .dashicons {
        display: none !important; // sass-lint:disable-line no-important
      }

      .spinner {
        display: inline-block;
      }
    }
  }

  .sync-row {
    label {
      display: block;
    }
  }

  .form-table {
    .sync-row {
      th {
        width: 250px;
      }
    }
  }
}